<h1><%= @artist.name %></h1>
<div class="ui 6 doubling cards">
  <div class="card" data-album="<%= @artist.id %>">
    <a class="image">
      <img src="<%= @artist.images.first["url"] %>">
    </a>
    <div class="content">
      <a class="header"><%= @artist.name %></a>
    </div>
  </div>
</div>

<h3>Albums</h3>
<div class="ui 6 doubling cards">
  <% @artist.albums.each do |album| %>
    <div class="card" data-album="<%= album.id %>">
      <a class="image">
        <img src="<%= album.images.first["url"] %>">
      </a>
      <div class="content">
        <%= link_to album.name, album_path(album.id), class:'content' %>
      </div>
    </div>
  <% end %>
</div>

<h3>Songs</h3>
<div class="ui list">
  <% @artist.top_tracks(:US).each do |song| %>
    <div class="item" data-song="<%= song.id %>">
      <img class="ui avatar image" src="<%= song.album.images.first["url"] %>">
      <div class="content">
        <a class="header"><%= song.name %></a>
        <div class="description"><%= song.album.name %></div>
        <% if song.explicit == true %>
          <div class="explicit">
            <p>Explicit</p>
          </div>
        <% end %>
      </div>
      <!-- <iframe src="https://embed.spotify.com/?uri=<%= song.uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
    </div>
  <% end %>
</div>

<div class="ui cards gallery">
  <% @artist.related_artists.each do |artist| %>
    <%= link_to artist_path(artist.id) do %>
      <div class="card gallery-item" data-artist="<%= artist.id %>">
        <% if artist.images.any? %>
          <%= link_to artist_path(artist.id), class: 'image' do %>
            <img src="<%= artist.images.first["url"] %>">
          <% end %>
        <% end %>
        <div class="content">
        <%= link_to artist.name, artist_path(artist.id), class:'content' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>