<%= form_tag(sc_search_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @test.present? %>
  <div class="results">
    <h1>Songs</h1>
    <div class="ui list" id="sc-songs">
      <% @test["tracks"].each do |song| %>
        <div class="item" data-song="<%= song.id %>">
          <img class="ui avatar image" src="<%= song.artwork_url %>">
          <div class="content">
            <a class="header"><%= song.title %></a>
            <div class="description">
              <%= song.user.username %>
              <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F&color=orange_transparent&size=16" style="width: 16px; height: 16px;"></iframe>
            </div>
            <% if song.explicit == true %>
              <div class="explicit">
                <p>Explicit</p>
              </div>
            <% end %>
          </div>
          <!-- <iframe src="https://embed.spotify.com/?uri=<%= song.uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
        </div>
      <% end %>
    </div>
    <h1>Artists</h1>
    <div class="ui cards" id="sc-artists">
      <% @test["artists"].each do |artist| %>
        <%= link_to artist_path(artist.id) do %>
          <div class="card" data-artist="<%= artist.id %>">
            <!-- Artist image should go here -->
            <%= link_to artist_path(artist.id), class: 'image' do %>
              <img src="<%= artist.avatar_url %>">
            <% end %>
            <div class="content">
              <%= link_to artist.username, artist_path(artist.id), class:'content' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% @test["artists"].each do |artist| %>
      <p><img src="<%= artist.avatar_url %>" alt="" /></p>
    <% end %>
  </div>
<% end %>
