<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="ui form">
    <%= f.input :username, wrapper_html: { class: 'field' }%>
    <%= f.input :password, wrapper_html: { class: 'field' }%>
    <%= f.input :password_confirmation, wrapper_html: { class: 'field' }%>
    <%= f.button :submit, class: 'ui button'%>
  </div>

<% end %>
