<h1><%= @album.name %></h1>
<div class="ui list">
  <% @album.tracks.each do |song| %>
    <div class="item" data-song="<%= song.id %>">
      <img class="ui avatar image" src="<%= song.album.images.first["url"] %>">
      <div class="content">
        <a class="header"><%= song.name %></a>
        <div class="description"><%= song.album.name %></div>
        <% if song.explicit == true %>
          <div class="explicit">
            <p>Explicit</p>
          </div>
        <% end %>
      </div>
      <!-- <iframe src="https://embed.spotify.com/?uri=<%= song.uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
    </div>
  <% end %>
</div>