<h1>Artists</h1>
	<div class="ui cards">
		<% @search["artist"].each do |artist| %>
		  <div class="card">
		    <!-- Artist image should go here -->
		    <div class="content">
		      <a class="header"><%= artist.name %></a>
		    </div>
		  </div>
		<% end %>
	</div>

	<h1>Albums</h1>
	<div class="ui cards">
	<% @search["album"].each do |album| %>
	  <div class="card">
	    <a class="image">
	      <img src="<%= album.images.first["url"] %>">
	    </a>
	    <div class="content">
	      <a class="header"><%= album.name %></a>
	    </div>
	  </div>
	<% end %>
	</div>

	<h1>Songs</h1>
	<% @search["tracks"].each do |song| %>
		<div class="ui list">
		  <div class="item">
		    <img class="ui avatar image" src="<%= song.album.images.first["url"] %>">
		    <div class="content">
		      <a class="header"><%= song.name %></a>
		      <div class="description"><%= song.album.name %></div>
		    </div>
		  </div>
		</div>
	<% end %>