<%= form_tag search_path, method: :get do %>
	<%= text_field_tag :query %>
	<%= submit_tag 'Search' %>
<% end %>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>

<% if params.include?(:query) %>
	<div class="ui cards">
	<% @results.each do |song| %>
	  <div class="card">
	    <a class="image">
	      <img src="<%= song["image"] %>">
	    </a>
	    <div class="content">
	      <a class="header"><%= song["name"] %></a>
	      <div class="meta">
	        <a><%= song["album"] %></a>
	      </div>
	    </div>
	  </div>
	<% end %>
	</div>
<% end %>
