<%= form_tag search_path, method: :get, :id => "search" do %>
	<%= text_field_tag :query %>
	<%= submit_tag 'Search' %>
<% end %>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>

<% if params.include?(:query) %>
	<div id="music"><%= render 'music' %></div>
<% end %>