<p id="notice"><%= notice %></p>

<h1>Playlists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.user.username %></td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ui link cards gallery">
  <% @playlists.each do |playlist| %>
    <div class="card gallery-item">
      <div class="image">
        <img src="<%= Song.find(playlist.playlist_songs.find_by(position: 1).song_id).artwork %>" alt="" />
      </div>
      <div class="content">
        <div class="header">
          <%= link_to playlist.name, playlist_path(playlist.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Playlist', new_playlist_path %>
