<% if @search.present? %>
  <div class="ui tabular menu">
    <div class="active item" data-tab="artists">Artists</div>
    <div class="item" data-tab="albums">Albums</div>
    <div class="item" data-tab="songs">Songs</div>
  </div>

  <div class="ui active tab" data-tab="artists">
    <h1>Artist</h1>
    <div id="artist">
      <%= render 'artist' %>
    </div>
  </div>

  <div class="ui tab" data-tab="albums">
    <div id="album">
      <%= render 'album' %>
    </div>
  </div>

  <div class="ui tab" data-tab="songs">
    <div class="ui relaxed divided list">
      <% @search['song'].results.each do |song| %>
        <div class="item" id="song" data-song="<%= song.id %>">
          <div class="ui grid">
            <div class="row">
              <div class="one wide column">
                <img class="ui avatar image right floated" src="<%= song.artwork %>">
              </div>
              <div class="four wide column center aligned">
                <div class="content">
                  <a class="header"><%= song.title %></a>
                </div>
              </div>
              <div class="two wide column center aligned">
                <% if song.explicit.present? %>
                  <% if song.explicit == true %>
                    <div class="explicit">
                      <p>Explicit</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="one wide column center aligned">
                <div class="ui dropdown">
                  <i class="sidebar icon"></i>
                  <div class="menu">
                    <div class="item">
                      <i class="add circle icon"></i>
                      Add to playlist
                    </div>
                  </div>
                </div>
              </div>
              <div class="four wide column center aligned">
                <div class="description"><%= song.album %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



<% end %>
