<% if @song.present? %>
  <div class="ui relaxed divided list">
    <% @song.results.each do |song| %>
      <div class="song item" data-song="<%= song.id %>">
        <div class="ui grid">
          <div class="row">
            <div class="one wide column">
              <img class="ui avatar image right floated" src="<%= song.artwork %>">
            </div>
            <div class="four wide column center aligned">
              <div class="content">
                <a class="header"><%= song.title %></a>
              </div>
            </div>
            <div class="two wide column center aligned">
              <% if song.explicit.present? %>
                <% if song.explicit == true %>
                  <div class="explicit">
                    <p>Explicit</p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="one wide column center aligned">
              <div class="ui dropdown">
                <i class="sidebar icon"></i>
                <div class="menu">
                  <div class="item">
                    <i class="add circle icon"></i>
                    Add to playlist
                    <div class="menu">
                      <% User.find(current_user.id).playlists.each do |playlist| %>
                        <div class="item"><%= playlist.name %></div>
                      <% end %>
                    </div>
                  </div>
                  <div class="item">
                    <i class="add circle icon"></i>
                    Create new playlist
                    <%= current_user.id %>
                    <div class="ui fluid popup top left transition hidden" data-title="Using click events">
                      <%= render 'form' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="four wide column center aligned">
              <div class="description"><%= song.album %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
