<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="ui menu">
    <div class="item">
      <div class="ui transparent icon input">
        <%= form_tag search_path, method: :get, class: 'ui-search',remote: true do %>
          <%= text_field_tag :query %>
        <% end %>
        <i class="search link icon"></i>
      </div>
    </div>
    <span class="right floated">
      <button class="ui button">Follow</button>
    </span>
  </div>

  <div class="ui segment">
    <%= yield %>

    <div id="music">
      <%= render 'music' %>
    </div>
  </div>

</body>
</html>
